<ion-view view-title="Mapa de seguridad">
    <ion-content>
        <div id="map" data-tap-disabled="true"></div>

	<!-- <div id="over_map">
	    <div class="list">
		<div class="item item-input-inset">
		    <label class="item-input-wrapper">
			<input type="text" placeholder="¿Cuál es tu destino?" ng-model="data.address">
		    </label>
		    <button class="button button-small button-positive" ng-click="search()">
			Buscar
		    </button>
		</div>
	    </div>
	</div>

	<div id="under_map">
	    <button class="button button-block button-positive icon-right ion-chevron-right" ng-show="buttonRequest" ng-click="request()">Confirmar punto de encuentro</button>
	</div>-->
    </ion-content>
</ion-view>
